.mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
    display: block;
    height: 100% !important;
    min-height: 48px !important;
    padding-top: 16px;
    border-bottom: 1px solid #afafaf75;
}
.mat-list .mat-list-item .mat-list-item-content, .mat-list .mat-list-option .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-option .mat-list-item-content, .mat-selection-list .mat-list-item .mat-list-item-content, .mat-selection-list .mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: inherit;
}
mat-list-item:last-child{
    border-bottom: none !important;
}
.cardTitle{
    font-size: 17px;
    font-weight: bold;
    padding-left: 36%;
}
.selectedItem{
    background: #2e3192;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.selectedEvent{
    background: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container > div > mat-form-field {
    margin: 0px 10px;
    width: 175px;
  }

  .flex-container > div{
    border-bottom: 1px dashed #dadada;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .flex-container > div:last-child{
    border-bottom: none !important;
  }

  .list-group{
    width: 70%;
    display: block;
    margin: auto; 
  }

  .vl {
    border-left: 6px solid #2e3192;
    height: 25px;
    margin-left: 115px;
}

.selectedItemContainer{
    margin-top: 20px;
}

.selectedItemContainer:first-child{
    margin-top: 0;
}

.selectedItemContainer:last-child{
    margin-bottom: 15px;
}

  .list-group-item{
    text-align: center !important;
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgb(46, 49, 146);
  }

//   .flex-container > div:first-child{
//     padding-top: 0px !important;
//   }

.selectedItemContainer{
    margin-bottom: 15px;
}

.checkboxContainer{
    margin-left: 23px;
}

.selectPad{
    padding: 0px 20px;
    padding-left: 0px;
}