.ng2-tag-input__text-input[_ngcontent-c12] {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 .5rem;
    height: 38px;
    width: 448px !important;
    font-size: 1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-tab-link {
    height: 48px;
    padding: 0 10px !important;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 115px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    vertical-align: top;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}