node_modules/*
admin/node_modules/*
admin/npm-debug.log
npm-debug.log
/idea/*
.idea
/atlassian-ide-plugin.xml
/logs/*
/public
/.svn/*
.vscode
yarn-error.log
/admin/yarn-error.log
~$readme.xlsx

# Ignore the dist an and dump
admin/dump/*
admin/dist/*
admin/dist-admin/*
