<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  
  <customErrors mode="Off" />
    
    <httpRuntime targetFramework="4.5" executionTimeout="600" />
  </system.web>
  <appSettings>
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>-->

   <!--  <add key="siteurl" value="https://sparklms.com" /> -->
    <add key="mailHost" value="smtpout.asia.secureserver.net" />
    <add key="mailPort" value="25" />
    <add key="mailUser" value="info@sparklms.com" />
    <add key="mailPassword" value="Spark#2016!" />

    <add key="infomailid" value="info@sparklms.com" />
    <add key="infomaildisplay" value="SparkLMS Support" />

    <add key="contactSubject" value="!@#RequestName#@! is trying to contact" />
    <add key="replyContactSubject" value="Thank You for reaching SparkLMS" />
    <add key="demoSubject" value="!@#RequestName#@! has requested for Demo" />

    <add key="eMailLogoPath" value="\img\email_logo.png" />
    <add key="fbLogoPath" value="\img\fb.png" />
    <add key="twLogoPath" value="\img\tw.png" />

    <add key="cntAddressingPerson" value="Kumar" />
    <add key="cntToMail" value="kumar@sparklms.com" />
	<add key="cntCCMail" value="raj@sparklms.com" /> 
    
    <!--<add key="cntToMail" value="ashok@statlight.in"/>
    <add key="cntCCMail" value="ashok@statlight.in"/>-->
	
    <add key="conportfolio" value="SparkLMS" />
    <add key="ISDEBUG" value="true" />
    <add key="successresponse" value="true" />
    <add key="leadexceptionmessage" value="Can't Process Your Lead Request. Please try after sometime." />
    <add key="noresponse" value="Can't Process Your Lead Request. Please try after sometime." />
    <add key="ErrorFilePath" value="F:\SparkLMS.web\error\" />
  </appSettings>
  <connectionStrings>
   </connectionStrings>
   <!-- <configuration>
  <location path="www.sparklms.com"> 
    <system.webServer>
      <httpRedirect enabled="true" destination="http://sparklms.com" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration> -->
  <system.webServer>
	<iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" enableXFF="true"/>
	<!-- <iisnode enableXFF="true" /> -->
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
	<handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
	<rewrite>  
		<rules>				
					<rule name="nodebeats">
					  <match url="/*" />         
					  <action type="Rewrite" url="app.js" />
					</rule>
					
					<!-- <rule name="Debug" patternSyntax="Wildcard" stopProcessing="true">
					  <match url="keystone.js/debug*" />
					  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					  <action type="None" />
					</rule>
					<rule name="keystone" patternSyntax="Wildcard">
					  <match url="*" negate="false" />
					  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					  <action type="Rewrite" url="keystone.js" />
					</rule>
					
					<rule name="Redirect WWW to non-WWW" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
						<add input="{HTTP_HOST}" pattern="^sparklms\.com$" negate="true" />
						</conditions>
						<action type="Redirect" url="https://sparklms.com/{R:1}" />
					</rule>	 -->	

		</rules>  
		<!-- <rewriteMaps>
            <rewriteMap name="MapSSL" defaultValue="OFF">
                <add key="ON" value="https://" />
                <add key="OFF" value="http://" />
            </rewriteMap>
        </rewriteMaps> -->
	</rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://sparklms.com/error" responseMode="Redirect" />
        </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILead">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IVehicleInfoProvider">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://167.114.0.238:171/LMSLead.svc/Led" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILead" contract="LMSLead.ILead" name="WSHttpBinding_ILead" />
      <endpoint address="http://167.114.0.238:171/LMSVehicleInfoProvider.svc/VIP" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVehicleInfoProvider" contract="LMSVehicleInfoProvider.IVehicleInfoProvider" name="WSHttpBinding_IVehicleInfoProvider" />
    </client>
  </system.serviceModel>
</configuration>