

  <h4>Promocode</h4>
  <div style="  padding-top: 10px;">
  <mat-form-field appearance="fill" [formGroup]="form" style="width:100% !important; margin-bottom: 6px;" >
  <mat-label>Enter Promocode</mat-label>
  <input matInput formControlName="Promocode"> 
  </mat-form-field>
  </div>

  <div style="float: right;">

  <button mat-button style="background-color:#a70505;border: none; color: white;"(click)="close()">No Thanks</button>  &nbsp;&nbsp;
  <button mat-button style="background-color:#3f51b5;border: none; color: white;" (click)="Promocode()">Submit</button>
</div>