<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138497422-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-138497422-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Flyp10 | Blog</title>
    <link href="assets/client/images/red_icon.png" rel="icon">
    <!-- Facebook Pixel Code -->

    <script>

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?

                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };

            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';

            n.queue = []; t = b.createElement(e); t.async = !0;

            t.src = v; s = b.getElementsByTagName(e)[0];

            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',

            'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '256352801666442');

        fbq('track', 'PageView');

    </script>

    <noscript>

        <img height="1" width="1" src="https://www.facebook.com/tr?id=256352801666442&ev=PageView&noscript=1" />

    </noscript>

    <!-- End Facebook Pixel Code -->

</head>

<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-blocks">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <header class="site-header otherpgheadr">
        <nav class="navbar navbar-expand-lg transparent-bg static-nav">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="assets/client/images/logo-transparent.png" alt="logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                    data-target="#xenav">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>
                <div class="collapse navbar-collapse" id="xenav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link1" href="/" data-text="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#aboutid" data-text="About">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link1" href="/blog" data-text="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#portfolio_top" data-text="Sports">MyFlyp10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#virtual" data-text="Sports">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#our-pricings" data-text="Pricing">Our Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#our-testimonial" data-text="Testimonial">Testimonial</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link1" href="/#contactus" data-text="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <!-- header -->

    <!--Main Slider-->
    <section class="page-header parallaxie padding_top center-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-titles text-center">
                        <h2 *ngIf="!tagId && !categoryRoute" class="whitecolor font-light bottom30">latest Blog</h2>
                        <h2 *ngIf="tagId" class="whitecolor font-light bottom30">Tag <strong>"{{tagName}}"</strong></h2>
                        <h2 *ngIf="categoryRoute" class="whitecolor font-light bottom30">Category
                            <strong>"{{categoryName}}"</strong></h2>
                        <ul class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Slider ends -->
    <!-- <pre>{{blogData | json }}</pre> -->
    <section style="padding: 4.375rem 0; text-align: center !important;background: #f6f6f6;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" *ngFor="let blog of pagedItems ; let i = index">
                    <a class="image" href="/blog/{{blog._id}}/{{blog.blogTitle | replaceSpaceWithHyphen}}">
                        <!-- <img src="assets/client/images/blog-measonry2.jpg" alt="Latest News" class="img-responsive"> -->
                        <img src="https://flyp10.com/public/uploads/images/blogs/{{blog.bannerImage}}" alt="Latest News"
                            class="img-responsive">
                    </a>
                    <div class="news_desc" style="padding: 40px 30px;background:#fff">
                        <h3 class="text-capitalize font-light darkcolor"><a
                                href="/blog/{{blog._id}}/{{blog.blogTitle | replaceSpaceWithHyphen}}">{{blog.blogTitle}}</a>
                        </h3>
                        <ul class="meta-tags top20 bottom20">
                            <li><a href="/blog/{{blog._id}}/{{blog.blogTitle | replaceSpaceWithHyphen}}"><i
                                        class="fa fa-calendar"></i>{{blog.addedOn | date}}</a></li>
                            <li>
                                <a href="/blog/{{blog._id}}/{{blog.blogTitle | replaceSpaceWithHyphen}}"> <i
                                        class="fa fa-user-o"></i> {{blog.author}} </a>
                            </li>
                            <!-- <li><a href="/blog/{{blog._id}}/{{blog.blogTitle | replaceSpaceWithHyphen}}"><i class="fa fa-comment-o" ></i><span class="disqus-comment-count" data-disqus-url="http://localhost:4200/blog/5ba4f38ea3f2bb9ad03a55f9/Lorem-Ipsum-Is-Simply-Dummy"></span></a></li> -->
                        </ul>
                        <p class="bottom35">{{blog.blogSummary}}</p>
                        <p>{{blog.blogTitle | replaceSpaceWithHyphen}}</p>
                        <a href="/blog/{{blog._id}}/{{blog.blogTitle | replaceSpaceWithHyphen}}"
                            class="button btnprimary btn-gradient-hvr">Read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!--Pagination-->
                <ul class="pagination justify-content-center top50">
                    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item"><a class="page-link"
                            (click)="setPage(pager.currentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                    <li *ngFor="let page of pager.pages" class="page-item "
                        [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a
                            class="page-link" (click)="setPage(pager.currentPage + 1)"><i
                                class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>

    </section>

    <div class="modal fade" id="myModal" role="dialog" style="overflow-y: hidden !important;">
        <div class="modal-dialog" style="  max-width: 90%">
            <button type="button" style=" background: transparent;
            float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                <a href="javascript:void(0)"><img style="    width: 36px;
                    margin-right: -54px;
                    position: absolute;
                    right: 17px;
                    top: -22px;
                    z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </a>

            </button>
            <!-- <button style="    width: 50px;
                height: 50px;
                background: red;
                border-radius: 50%;
                color: white;
                border: 5px solid;
                z-index: 999;
                position: absolute;
                right: 0px;
                top: -25px;
                cursor: pointer;
                opacity: unset;" type="button" class="close" data-dismiss="modal">&times;</button> -->
            <!-- Modal content-->
            <div class="modal-content" style="overflow-y: hidden">
                <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div> -->
                <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">

                    <faq></faq>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalPrivacy" role="dialog" style="overflow-y: hidden !important;">
        <div class="modal-dialog" style="  max-width: 90%">
            <button type="button" style=" background: transparent;
                    float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                <img style=" width: 36px;
                        margin-right: -54px;
                        position: absolute;
                        right: 17px;
                        top: -22px;
                        z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </button>

            <!-- Modal content-->
            <div class="modal-content" style="overflow-y: hidden">

                <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
                    <privacy></privacy>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalTerms" role="dialog" style="overflow-y: hidden !important;">
        <div class="modal-dialog" style="  max-width: 90%">
            <button type="button" style=" background: transparent;
                            float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                <img style=" width: 36px;
                                margin-right: -54px;
                                position: absolute;
                                right: 17px;
                                top: -22px;
                                z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo">
            </button>

            <div class="modal-content" style="overflow-y: hidden">

                <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
                    <terms></terms>

                </div>
            </div>
        </div>
    </div>
    <!--Site Footer Here-->
    <footer id="site-footer" class="padding_half">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="https://www.facebook.com/Flyp10/" target="_blank"><i class="fa fa-facebook"></i>
                            </a> </li>
                        <li><a href="https://www.instagram.com/flyp10/" target="_blank"><i class="fa fa-instagram"></i>
                            </a> </li>
                        <li><a href="https://twitter.com/Flyp10app" target="_blank"><i class="fa fa-twitter"></i> </a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCix1RN4-_CaupFXfKguN_jA" target="_blank"><i
                                    class="fa fa-youtube"></i> </a> </li>
                        <li><a href="https://www.pinterest.com/flyp10/" target="_blank"><i
                                    class="fa fa-pinterest-p"></i> </a> </li>
                        <li><a href="https://www.snapchat.com/add/flyp10" target="_blank"><i
                                    class="fa fa-snapchat-ghost"></i> </a> </li>
                        <li><a href="https://www.linkedin.com/company/flyp10/" target="_blank"><i
                                    class="fa fa-linkedin"></i> </a> </li>
                        <li><a href="mailto:hello@flyp10.com"><i class="fa fa-envelope-o"></i> </a> </li>
                    </ul>
                    <p class="copyrights wow fadeInUp" data-wow-delay="350ms"> &copy; 2020 <a href="/">Flyp10.</a> All
                        Rights Reserved.
                        <span>|</span> <a href="#" data-toggle="modal" data-target="#myModalPrivacy"> Privacy Policy</a>
                        <span>|</span>
                        <a href="#" class="footaactive" data-toggle="modal" data-target="#myModalTerms"> Terms of
                            Service</a>
                        <span>|</span>
                        <a href="#" class="footaactive" data-toggle="modal" data-target="#myModal"> FAQ</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->

</body>

</html>