<div id="nb-wrapper">
        <div class="nb-welcome-page">
            <mat-card class="form-card text-center">
                <mat-card-content>
                    <div class="text-center">
                         <img src="../../../../assets/admin/img/logo.png" width="50%"/>
                    </div>
                    <div class="card-body" *ngIf="!allowChange">
                        <div class="alert {{alertClass}} auth-message" role="alert" *ngIf="message">{{message}}</div>
                        <div class="link">
                            <a [routerLink]="['/login']" title="Login Page"> Login Page</a> |
                            <a routerLink="/" title="Home Page"> Home Page</a>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="allowChange">
                            <div class="alert {{alertClass}} auth-message" role="alert" *ngIf="message">{{message}}</div>                        
                            <form class="generic-form"  role="form" novalidate [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                <h1 class="text-center">Change Password</h1>
                                <mat-form-field class="full-width mb-3">
                                    <input type="{{passwordType}}" formControlName="password" matInput placeholder="New Password">
                                    <i class="icon-change-type fa {{viewPassEye}}" (click)="showPass()"></i>
                                    <mat-error>
                                        <control-messages [isSubmitted]="isSubmitted" [control]="changePasswordForm.controls['password']"></control-messages>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                        <input type="{{confirmPasswordType}}" formControlName="confirmPassword" matInput placeholder="Retype New Password">
                                        <i class="icon-change-type fa {{viewConfirmPassEye}}" (click)="showConfirmPass()"></i>
                                        <mat-error>
                                            <control-messages [isSubmitted]="isSubmitted" [control]="changePasswordForm.controls['confirmPassword']"></control-messages>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error class="text-left" *ngIf="changePasswordForm.hasError('mismatchedPasswords') && changePasswordForm.controls['confirmPassword'].dirty">
                                                    Passwords do not match.
                                    </mat-error>
                                <div class="btn-wrap">
                                    <button type="submit" processing class="nb-btn-blue full-width" mat-raised-button>Submit</button>
                                </div>
                            </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
    
    