<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138497422-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138497422-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Flyp10 | Wgymnastics</title>
    <link href="assets/client/images/red_icon.png" rel="icon">


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-blocks">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <header class="site-header otherpgheadr">
        <nav class="navbar navbar-expand-lg transparent-bg static-nav">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="assets/client/images/logo-transparent.png" alt="logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>
                <div class="collapse navbar-collapse" id="xenav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link1" href="/#banner-main" data-text="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#aboutid" data-text="About">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link1" href="/blog" data-text="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#portfolio_top" data-text="Sports">MyFlyp10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#virtual" data-text="Sports">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#our-pricings" data-text="Pricing">Our Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#our-testimonial" data-text="Testimonial">Testimonial</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link1" href="/#contactus" data-text="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <!-- header -->

    <!--Main Slider-->
    <section class="page-header parallaxie center-block" style="background-image:url('assets/client/images/wgym-0.jpg')">
        <div class="post-container padding_top" style="background: rgba(0,0,0,.5);width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-titles text-center">
                            <h2 class="whitecolor font-light bottom30">Women’s Gymnastics</h2>
                            <ul class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/blog">MyFlyp10</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Wgymnastics</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!--Main Slider ends -->

    <section id="our-blog" class="padding_half bglight">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="news_item shadow">
                        <!-- <div class="image">
                            <img src="assets/client/images/wgym.png" alt="" class="img-responsive">
                        </div> -->
                        <div class="cimage">
                                <img src="assets/client/images/wgym-3.png" width="100%" alt="" class="img-responsive">
                        </div>
                        <div class="news_desc text-left">
                             <p><b>Take the mystery out of gymnastics scoring with Flyp10</b>, the only gymnastics scoring app that lets you upload gymnastic routines straight from your device or computer, submit the routines to be judged by USAG Certified Judges, and receive a score along with the judges notes so you can see exactly where the deductions are coming from. </p>
                             <div class="heading-title text-center">
                                    <span>Upload Routines, Get Scores, Get Better!</span>
                               </div>
                        <p><b>How Does It Work:</b></p>
                        <div style="margin-left:35px;">
                            <ul id="ulsports">
                                <li>Download the Flyp10 app or go to Flyp10.com and create an account.</li>
                                <li>Add money to your wallet; as each routine is judged, the fee is deducted from your pre-paid account, refill as often as you wish.</li>
                                <li>When you are ready, upload a routine for scoring.  Routines can be from meets, practice or open gym as long as they are relatively close and at an angle capable of being judged.  The routine will be routed to a USAG Certified Judge for your level.  The cost of judging the routine will be deducted from your account at that time.</li>
                                <li>Once your routine is judged, you will receive a score along with notes from the judge on what deductions were taken.</li>
                            </ul>
                        </div>
                        <div class="cimage">
                                <img src="assets/client/images/wgym-2.png" alt="" class="img-responsive">
                        </div>
                        <p>
                                But that’s not all.  Have your friends sign up as well and you can share and comment on routines or sign up for Premium to enter into the daily meet, get valuable analytics to track your scoring trends and get your routine scores faster.
                        </p>
                        <p><b>What does it cost:</b></p>
                        <p><a href="javascript:click(0)" data-toggle="modal" data-target="#myModalPricing" style="color: #2e3192;text-decoration: underline;"><b>See our pricing for routines</b></a></p>
                       <p><b>IMPORTANT NOTE:</b></p>
                       <p style="font-size:12px">
                            All routines will be evaluated by current USAG Certified Judges.  Please note gymnastics judging is subjective and each competition is different. The purpose of this app is to help gymnasts see where their deductions may be coming from NOT to determine whether a score a gymnast received at a particular meet was scored correctly.  A score is a judge’s opinion of a particular routine.  You will be given a score and list of deductions the judge could take if they were judging your routine at that particular time.  Optional routines will also be evaluated for start value.
                       </p>
                     </div>
                        
                        
                    </div>
                </div>
           
            </div>
        </div>
    </section>
    
   <div class="modal fade" id="myModal" role="dialog" style="overflow-y: hidden !important;" >
        <div class="modal-dialog" style="  max-width: 90%">
            <button type="button" style=" background: transparent;
            float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                <a href="javascript:void(0)"><img style="    width: 36px;
                    margin-right: -54px;
                    position: absolute;
                    right: 17px;
                    top: -22px;
                    z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </a>
                
                </button>
                <!-- <button style="    width: 50px;
                height: 50px;
                background: red;
                border-radius: 50%;
                color: white;
                border: 5px solid;
                z-index: 999;
                position: absolute;
                right: 0px;
                top: -25px;
                cursor: pointer;
                opacity: unset;" type="button" class="close" data-dismiss="modal">&times;</button> -->
          <!-- Modal content-->
          <div class="modal-content" style="overflow-y: hidden">
            <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div> -->
            <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
           
                <faq></faq>
            </div>            
          </div>
          </div>
          </div>
          <div class="modal fade" id="myModalPrivacy" role="dialog" style="overflow-y: hidden !important;" >
                <div class="modal-dialog" style="  max-width: 90%">
                    <button type="button" style=" background: transparent;
                    float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                        <img style=" width: 36px;
                        margin-right: -54px;
                        position: absolute;
                        right: 17px;
                        top: -22px;
                        z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </button>
                       
                  <!-- Modal content-->
                  <div class="modal-content" style="overflow-y: hidden">
                   
                    <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
                    <privacy></privacy>
                       
                    </div>            
                  </div>
                  </div>
                  </div>
                  <div class="modal fade" id="myModalTerms" role="dialog" style="overflow-y: hidden !important;" >
                        <div class="modal-dialog" style="  max-width: 90%">
                            <button type="button" style=" background: transparent;
                            float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                                <img style=" width: 36px;
                                margin-right: -54px;
                                position: absolute;
                                right: 17px;
                                top: -22px;
                                z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </button>
                             
                          <div class="modal-content" style="overflow-y: hidden">
                         
                            <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
                            <terms></terms>
                               
                            </div>            
                          </div>
                          </div>
                          </div>
    <!--Site Footer Here-->
       <footer id="site-footer" class="padding_half">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="https://www.facebook.com/Flyp10/" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="https://www.instagram.com/flyp10/" target="_blank"><i class="fa fa-instagram"></i> </a> </li>
                        <li><a href="https://twitter.com/Flyp10app" target="_blank"><i class="fa fa-twitter"></i> </a> </li>
                        <li><a href="https://www.youtube.com/channel/UCix1RN4-_CaupFXfKguN_jA" target="_blank"><i class="fa fa-youtube"></i> </a> </li>
                        <li><a href="https://www.pinterest.com/flyp10/" target="_blank"><i class="fa fa-pinterest-p"></i> </a> </li>
                        <li><a href="https://www.snapchat.com/add/flyp10" target="_blank"><i class="fa fa-snapchat-ghost"></i> </a> </li>
                        <li><a href="https://www.linkedin.com/company/flyp10/" target="_blank"><i class="fa fa-linkedin"></i> </a> </li>                     
                        <li><a href="mailto:hello@flyp10.com"><i class="fa fa-envelope-o"></i> </a> </li>
                    </ul>
                    <p class="copyrights wow fadeInUp" data-wow-delay="350ms"> &copy; 2020 <a href="/">Flyp10.</a> All Rights Reserved. 
                        <span>|</span> <a href="#" data-toggle="modal" data-target="#myModalPrivacy" > Privacy Policy</a> <span>|</span>
                         <a href="#" class="footaactive" data-toggle="modal" data-target="#myModalTerms">   Terms of Service</a>
                         <span>|</span>
                         <a href="#" class="footaactive" data-toggle="modal" data-target="#myModal"> FAQ</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->


    	<!-- Modal start-->
        <div class="modal fade" id="myModalPricing" role="dialog" style="overflow-y: hidden !important;background: linear-gradient(90deg, rgba(46, 49, 146, 0.52), rgba(190, 30, 45, 0.6));" >
                <div class="modal-dialog" style="  max-width: 50% ;">
                    <button type="button" style=" background: transparent;
                    float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                        <a href="javascript:void(0)"><img style="    width: 36px;
                            margin-right: -54px;
                            position: absolute;
                            right: 17px;
                            top: -22px;
                            z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </a>
                        
                        </button>
                        
                  <!-- Modal content-->
                  <div class="modal-content">
                   
                    <div class="modal-body" style="padding:0px">
                 
                        <div class='row' style="padding-top: 14px;background: #2e3192;margin-left:0px;margin-right:0px;">
                            <div class='col-sm-4'>
                                <p style="color:#fff;" > Sport </p>
                            </div>
                            <div class='col-sm-4'>
                                <p style="color:#fff;"> Score Only </p>
                            </div>
                            <div class='col-sm-4'>
                                <p style="color:#fff;"> Score w/ Judges Notes </p>
                            </div>
                        </div>
                        <div class="row"  *ngFor="let a of pricelist" style="padding-top: 14px;border: 1px solid grey;margin-left:0px;margin-right:0px;">
                            <div class='col-sm-4'>
                                <p style="color:#6d6868;word-break: break-word;"> {{a.sport}} </p>
                            </div>
                           
                            <div class="col-sm-4">
                                        <p style="color:#6d6868;"> {{formatDollar(a.scoreonly[0]?a.scoreonly[0]:'N/A')}} </p>     
                             </div>
                             <div class="col-sm-4">
                                        <p style="color:#6d6868;" > {{formatDollar(a.scoreonlywithnotes[0]?a.scoreonlywithnotes[0]:'N/A')}} </p>      
                              </div>
                                                                  
                                    
                         
                      
                    </div>            
                  </div>
                  <div class="modal-footer" style="background-color: #2e3192; color:#fff;">
                    <span>Prices subject to change without notice.</span>
                  </div>
                  </div>
                  </div>
</div>
<!-- Modal End-->

</body>

</html>