<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138497422-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138497422-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Flyp10 | USA Gymnastics</title>
    <link href="assets/client/images/red_icon.png" rel="icon">


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-blocks">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <header class="site-header otherpgheadr">
        <nav class="navbar navbar-expand-lg transparent-bg static-nav">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="assets/client/images/logo-transparent.png" alt="logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>
                <div class="collapse navbar-collapse" id="xenav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link1" href="/#banner-main" data-text="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#aboutid" data-text="About">About Us</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link1" href="/blog" data-text="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#portfolio_top" data-text="Sports">MyFlyp10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#virtual" data-text="Sports">Competitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#our-pricings" data-text="Pricing">Our Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="/#our-testimonial" data-text="Testimonial">Testimonial</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link1" href="/#contactus" data-text="contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <!-- header -->

    <!--Main Slider-->
    <section class="page-header parallaxie center-block" style="background-image:url('assets/client/images/usag.png')">
        <div class="post-container padding_top" style="background: rgba(0,0,0,.5);width: 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-titles text-center">
                            <h2 class="whitecolor font-light bottom30">USAG Sanctioned Competitions</h2>
                            <ul class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/blog">Competiotions</a></li>
                                <li class="breadcrumb-item active" aria-current="page">USAG Sanctioned Meet</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!--Main Slider ends -->

    <section id="our-blog" class="padding_half bglight">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="news_item shadow">
                        <div class="image">
                            <img src="assets/client/images/usag.png" alt="" class="img-responsive">
                        </div>
                        
                        <div class="news_desc text-left">
                            
                             <div class="heading-title text-center">
                                    <span>Compete in a USAG Competition Virtually using Flyp10</span>
                                    <span style="color:black">Women * Men * Rhythmic * Acrobatic * T&T</span>
                               </div>
                        <p><b>How Does It Work:</b></p>
                        <p>A USAG Virtual meet runs just like a regular meet with a few extra twists (and hopefully flips).  </p>
                        <div style="margin-left:35px;">
                            <ul id="ulsports">
                                <li>Meets are still registered via the USAG Meet Registration System with the same signup for coaches and gymnasts.  </li>
                                <li>Perform in front of the same USAG judges and compete in real-time against other gymnasts while you compete.</li>
                                <li>Here's the twist.  You compete at your assigned start-time but from your home gym.  Your coach will record your performance and upload it via the Flyp10 app for immediate scoring by judges who are standing by.</li>
                                <li>Scores and recordings of your performance will be available quickly, sometimes before the end of your rotation.  Each score will come with judge's notes.</li>
                            </ul>
                        </div>
                        
                      <br>
                        <p><b>Here are the benefits.</b></p>
                        <div style="margin-left:35px;">
                            <ul id="ulsports">
                                <li>Your season goes on when large in-person competitions are limited.</li>
                                <li>All performances (videos, scores and notes) are saved in your Flyp10 account.</li>
                                <li>Flyp10 accounts are all private, but you can elect to share your performances and scores with your coaches, teammates, family and friends.</li>
                                <li>Rolling scores and placement as the competition unfolds, right on your mobile device.</li>
                                <li>Track your performance, competition feedback and individualized feedback all season long, season after season, all in one place.</li>
                               
                            </ul>
                        </div>
                        <br>
                        <p><b>What do I do?</b></p>
                        <div style="margin-left:35px;">
                            <ul id="ulsports">
                                <li>Download the Flyp10 app and open your account (both are free).  Add your USAG number to your account profile.  Connect your account with your coaches and teammates using the Team Management feature.</li>
                                <li>Enter a into an upcoming USAG Virtual Competition.</li>
                                <li>Get ready to compete locally or across the country and be your best.</li>
                            </ul>
                        </div>
                     </div>
                        
                        
                    </div>
                </div>
           
            </div>
        </div>
    </section>
    
   <div class="modal fade" id="myModal" role="dialog" style="overflow-y: hidden !important;" >
        <div class="modal-dialog" style="  max-width: 90%">
            <button type="button" style=" background: transparent;
            float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                <a href="javascript:void(0)"><img style="    width: 36px;
                    margin-right: -54px;
                    position: absolute;
                    right: 17px;
                    top: -22px;
                    z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </a>
                
                </button>
                <!-- <button style="    width: 50px;
                height: 50px;
                background: red;
                border-radius: 50%;
                color: white;
                border: 5px solid;
                z-index: 999;
                position: absolute;
                right: 0px;
                top: -25px;
                cursor: pointer;
                opacity: unset;" type="button" class="close" data-dismiss="modal">&times;</button> -->
          <!-- Modal content-->
          <div class="modal-content" style="overflow-y: hidden">
            <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div> -->
            <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
           
                <faq></faq>
            </div>            
          </div>
          </div>
          </div>
          <div class="modal fade" id="myModalPrivacy" role="dialog" style="overflow-y: hidden !important;" >
                <div class="modal-dialog" style="  max-width: 90%">
                    <button type="button" style=" background: transparent;
                    float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                        <img style=" width: 36px;
                        margin-right: -54px;
                        position: absolute;
                        right: 17px;
                        top: -22px;
                        z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </button>
                       
                  <!-- Modal content-->
                  <div class="modal-content" style="overflow-y: hidden">
                   
                    <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
                    <privacy></privacy>
                       
                    </div>            
                  </div>
                  </div>
                  </div>
                  <div class="modal fade" id="myModalTerms" role="dialog" style="overflow-y: hidden !important;" >
                        <div class="modal-dialog" style="  max-width: 90%">
                            <button type="button" style=" background: transparent;
                            float: right;margin-right: -45px;" class="btn btn-default" data-dismiss="modal">
                                <img style=" width: 36px;
                                margin-right: -54px;
                                position: absolute;
                                right: 17px;
                                top: -22px;
                                z-index: 1;cursor: pointer;" src="assets/client/images/icons/close.png" alt="logo"> </button>
                             
                          <div class="modal-content" style="overflow-y: hidden">
                         
                            <div class="modal-body" style="padding:0px;overflow-y: scroll;position: relative; max-height:605px">
                            <terms></terms>
                               
                            </div>            
                          </div>
                          </div>
                          </div>
    <!--Site Footer Here-->
       <footer id="site-footer" class="padding_half">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                        <li><a href="https://www.facebook.com/Flyp10/" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="https://www.instagram.com/flyp10/" target="_blank"><i class="fa fa-instagram"></i> </a> </li>
                        <li><a href="https://twitter.com/Flyp10app" target="_blank"><i class="fa fa-twitter"></i> </a> </li>
                        <li><a href="https://www.youtube.com/channel/UCix1RN4-_CaupFXfKguN_jA" target="_blank"><i class="fa fa-youtube"></i> </a> </li>
                        <li><a href="https://www.pinterest.com/flyp10/" target="_blank"><i class="fa fa-pinterest-p"></i> </a> </li>
                        <li><a href="https://www.snapchat.com/add/flyp10" target="_blank"><i class="fa fa-snapchat-ghost"></i> </a> </li>
                        <li><a href="https://www.linkedin.com/company/flyp10/" target="_blank"><i class="fa fa-linkedin"></i> </a> </li>                     
                        <li><a href="mailto:hello@flyp10.com"><i class="fa fa-envelope-o"></i> </a> </li>
                    </ul>
                    <p class="copyrights wow fadeInUp" data-wow-delay="350ms"> &copy; 2020 <a href="/">Flyp10.</a> All Rights Reserved. 
                        <span>|</span> <a href="#" data-toggle="modal" data-target="#myModalPrivacy" > Privacy Policy</a> <span>|</span>
                         <a href="#" class="footaactive" data-toggle="modal" data-target="#myModalTerms">   Terms of Service</a>
                         <span>|</span>
                         <a href="#" class="footaactive" data-toggle="modal" data-target="#myModal"> FAQ</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->


    	<!-- Modal start-->

</body>

</html>