<head>
    <meta property="og:title" content="The Rock" />
    <meta property="og:description" content="Directed by Michael Bay.  With Sean Connery, Nicolas Cage, Ed Harris, John Spencer." />
    <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
</head>

<div class="row" id="printupperdiv">
    <div class="col-md-6">
        <mat-card class="material-card-sm">
            <h4>{{routineObj.title}}</h4>
            <video *ngIf="routineObj.videofilename!='' && routineObj.videofilename!=null" controls controlsList="nodownload" #toJudgeVideo width="100%" (timeupdate)="setCurrentTime($event)" (loadedmetadata)="onMetadata($event, toJudgeVideo)">
              <source [src]="'https://flyp10.com/'+routineObj.videofilename" type="video/mp4" />
              Browser not supported
          </video>

            <!--                 
          <div class="comments"  *ngIf="routineObj.scoretype!='1' && routineObj.routinestatus=='1'  ">
              <div class="comment">
                  <h4>Comments</h4>
                  <div *ngIf="comments.length; else showNull">
                      <div class="comment-container" *ngFor="let comment of comments; let i = index">
                          <span>{{i+1}}.<strong class="comment-duration">&nbsp;({{comment.time | minuteSeconds}}) </strong> &nbsp;{{comment.comment}}</span>                            
                      </div>
                  </div>
                  <ng-template #showNull>
                      <div class="text-center" style="padding-bottom: 8px">
                          <span class="font-italic" style="color: lightgray">No comments added</span>
                      </div>
                      
                  </ng-template>                    
              </div>
          </div> -->

        </mat-card>
        <br>
        <!-- <button mat-raised-button *ngIf='!routineObj.nd' color="primary" (click)="nd()" title="Netural Deduction" data-toggle="modal" data-target="#nd">
            <i class="fa fa-minus"></i>&nbsp;&nbsp;Neutral Deduction
          </button> -->
    </div>


    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group ">
                    <ul class="list-group">
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                       Duration
                        <span class="badge " style="font-size:14px">{{formatduration(routineObj.duration)}}</span>
                      </li> -->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Sports
                            <span class="badge " style="font-size:14px">{{routineObj.sport}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Level
                            <span class="badge " style="font-size:14px">{{routineObj.level}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Event
                            <span class="badge " style="font-size:14px">{{routineObj.event}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Submitted by
                            <span class="badge " style="font-size:14px">{{routineObj.submittedBy}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Submitted on
                            <span class="badge " style="font-size:14px">{{formatdate(routineObj.submittedOn)}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Status
                            <span class="badge" style="font-size:14px" *ngIf="routineObj.routinestatus=='0' || routineObj.routinestatus=='5'">In Queue</span>
                            <span class="badge" style="font-size:14px" *ngIf="routineObj.routinestatus=='1'">Judged</span>
                            <span class="badge" style="font-size:14px" *ngIf="routineObj.routinestatus=='3'">Poor Video Quality</span>
                            <span class="badge" style="font-size:14px" *ngIf="routineObj.routinestatus=='4'">Inappropriate</span>


                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="routineObj.score">
                            Score
                            <span class="badge " style="font-size:14px">{{routineObj.score}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="routineObj.nd > 0">
                            Neutral Deduction
                            <span class="badge " style="font-size:14px">{{routineObj.nd}}</span>
                        </li>
                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="routineObj.eventlevelRank">
            Rank
            <span class="badge " style="font-size:14px">{{routineObj.eventlevelRank}}&nbsp;&nbsp;<span data-toggle="modal"  data-target="#ranking"><i class="fas fa-list-ol" ></i></span></span>
           </li> -->
                    </ul>
                </ul>
            </div>
            <div class="col-md-12" *ngIf="routineObj.SanctionRoutine && routineObj.routinestatus == '1'">
                <table class="col-md-12 table">
                    <tr style="border: 1px solid rgba(0,0,0,.125);">
                        <th colspan="2" style="text-align: center;"><i class="fa fa-flag"></i> &nbsp;&nbsp;Ranking</th>
                    </tr>
                    <tr style="border: 1px solid rgba(0,0,0,.125);">
                        <td style="border: 1px solid rgba(0,0,0,.125);text-align: center;"><b>Rank {{EventLevelRank}}</b></td>
                        <td style="border: 1px solid rgba(0,0,0,.125);text-align: center;"><b>Rank {{EventMeetLevelRank}}</b></td>

                    </tr>
                    <tr style="border: 1px solid rgba(0,0,0,.125);">
                        <td style="border: 1px solid rgba(0,0,0,.125);text-align: center;"><a data-toggle="modal" data-target="#ranking">{{routineObj.level}} - {{routineObj.event}}</a></td>
                        <td style="border: 1px solid rgba(0,0,0,.125);text-align: center;"><a data-toggle="modal" data-target="#levelranking">{{routineObj.EventMeetName}} - {{routineObj.level}}</a></td>

                    </tr>
                </table>

            </div>


        </div>
    </div>
</div>
<div class="col-md-12" id="printPagediv">
    <p style="text-align: center;"><img src="https://flyp10.com/assets/client/images/logo-dark.png"></p>
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-6">
            <h4>{{routineObj.title}}</h4>
        </div>
        <div class="col-md-6">
            <h4 style="padding: 5px; ">Score: {{routineObj.score}}</h4>
        </div>
    </div>
    <div class="row" style="margin-top:30px; ">
        <div class="col-md-3"><label><b>Competitor Name</b></label>:{{competitorname}}</div>
        <div class="col-md-3"><label><b>Sports</b></label>:{{routineObj.sport}}</div>
        <div class="col-md-3"><label><b>Level</b></label>:{{routineObj.level}}</div>
        <div class="col-md-3"><label><b>Event</b></label>:{{routineObj.event}}</div>
    </div>


</div>
<mat-card class="nb-dashboard-table">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="SN">
            <mat-header-cell class="symbol-no" *matHeaderCellDef> SN </mat-header-cell>
            <mat-cell class="symbol-no" *matCellDef="let event let i=index"> {{preIndex+(i+1)}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Panel">
            <mat-header-cell *matHeaderCellDef> Panel</mat-header-cell>
            <mat-cell *matCellDef="let event"> <span style="color: #04088f;cursor: pointer;">{{event.judgePanel}}</span> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="JudgeName">
            <mat-header-cell *matHeaderCellDef>Judge Name </mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.userinfo.firstName}} {{event.userinfo.lastName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let event">
                <span *ngIf="event.routinestatus=='0' || event.routinestatus=='5'">In Queue</span>
                <span *ngIf="event.routinestatus=='1'">Judged</span>
                <span *ngIf="event.routinestatus=='3'">Poor Video Quality</span>
                <span *ngIf="event.routinestatus=='4'">Inappropriate</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Score">
            <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.score}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell class="nb-icon-cell" *matCellDef="let element">

                <button mat-mini-fab class="material-icon-sm" color="warn" title="View" data-toggle="modal" data-target="#comment" (click)="viewJudgeComment(element)">
          <i class="fa fa-eye"></i>
        </button>
                <button mat-mini-fab class="material-icon-sm" color="warn" title="Resubmit" data-toggle="modal" data-target="#resubmit" (click)="resubmitjudge(element)">
          <i class="fa fa-undo"></i>
        </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="p-3 text-center" *ngIf=" AssignedJudges.length==0 ">
        No Records Found
    </div>

</mat-card>

<!-- <div *ngIf="routineObj.routinestatus=='1' && routineObj.scoretype=='1' && routineObj.uploadingType=='2' &&routineObj.SanctionRoutine">
<div *ngFor=" let comment of panelcomments; let i=index" >
<div *ngFor=" let commentInfo of comment.commentInfo; let j=index" >
<div class="col-md-12" style="margin-top:20px;" >
<mat-card>
<h4 style="color: #2e3192">{{comment.panel}} #{{j+1}}</h4>
    
<div class="row" style="margin-top:20px;">
 <div class="col-md-3">
   <b>Over all comment</b>:
 </div>
  <div class="col-md-3">
    {{commentInfo.comments}}
  </div>
  <div class="col-md-2">
    <label><b>Score</b>:</label>
    <label>{{commentInfo.score}}</label>
  </div>
  <div class="col-md-3" [ngStyle]="{'display':comment.dod==1?'none':''}">
    <label><b>Degree of difficulty</b>:</label>
    <label>{{commentInfo.dod}}</label>
  </div>
</div>	
     
</mat-card>
</div>
</div>
</div>
</div>

<div *ngIf="routineObj.routinestatus=='1' && routineObj.scoretype=='2' && routineObj.uploadingType=='2'"> 
<div *ngFor=" let panel of panelcomments; let i=index" >
<div class="col-md-12" style="margin-top:20px;" *ngIf="routineObj.routinestatus=='1' && routineObj.scoretype=='2' && routineObj.uploadingType=='2'&&routineObj.SanctionRoutine" >
<div *ngFor=" let judges of panel.commentInfo; let j=index" >
  
<mat-card>
<h4 style="color: #2e3192"><b>{{judges._id.judgePanel}} -</b>{{judges._id.judge[0]}}
  <span *ngIf="judges._id.judgeroutinestatus == '1'"><b>Status :</b>Judged</span>
  <span *ngIf="judges._id.judgeroutinestatus == '4'"><b>Status :</b>Inappropriate</span>
  <span *ngIf="judges._id.judgeroutinestatus == '3'"><b>Status :</b>Poor Video Quality</span>
  <button  mat-raised-button style="color:#2f3191;margin-left: 15px;position: absolute;right:15px;
  margin-top: 10px;" class="float-right"  color="light" data-toggle="modal"  data-target="#resubmit" (click)="resubmitjudge(judges._id.judgePanel,judges._id.judgeid)"><i class="fa fa-paper-plane"></i>Resubmit</button> 
</h4>

<h4>Comments</h4>
 <div class="row" style="margin-top:20px;">
 <div class="col-sm-2" *ngIf="scoreCard.time">
   <span><b>Time</b></span>
 </div>	
 <div class="col-sm-3">
   <span><b>Element</b></span>
 </div>
 <div class="col-sm-2">
   <span><b>Comment</b></span>
 </div>
 <div class="col-sm-1" style="padding:0px" *ngIf="scoreCard.skillvalue">
   <span><b>Skill Value</b></span>
 </div>
 <div class="col-sm-1" style="padding:0px;" *ngIf="scoreCard.execution">
   <span><b>Execution</b></span>
</div>
<div class="col-sm-1" *ngIf="scoreCard.bonus">
   <span><b>Bonus</b></span>
 </div>
 <div class="col-sm-1" *ngIf="scoreCard.factor">
   <span><b>Factor</b></span>
 </div> 
 <div class="col-sm-1">
   <span><b>Total</b></span>
 </div> 
 </div>
 <hr/>
   <div *ngIf="panelcomments.length; else showNull" >
   <div class="row" *ngFor="let com of judges.comment" style="margin-top:20px;">
    <div class="col-sm-2" *ngIf="scoreCard.time">
       <span>{{com.time}}</span>
     </div>
     <div class="col-sm-3">
      <span>{{com.element}}</span>
     </div>
     <div class="col-sm-2">
       <span>{{com.comment}}</span>
     </div>
     <div class="col-sm-1" style="padding:0px" *ngIf="scoreCard.skillvalue">
       <span>{{com.skillvalue}}</span>
     </div>
     <div class="col-sm-1" *ngIf="scoreCard.execution">
       <span>{{com.execution}}</span>
 </div>
 <div class="col-sm-1" *ngIf="scoreCard.bonus">
       <span>{{com.bonus?com.bonus:0}}</span>
     </div>
     <div class="col-sm-1" *ngIf="scoreCard.factor">
       <span>{{com.factor}}</span>
     </div> 
     <div class="col-sm-1">
       <span>{{com.total}}</span>
     </div> 
   </div>
 </div>
<ng-template #showNull>
       <div class="text-center" style="padding-bottom: 8px">
         <span class="font-italic" style="color: lightgray">No comments added</span>
       </div>
       
 </ng-template> 
<hr/>			
<div class="row" style="margin-top:20px;">
 <div class="col-md-3">
   <b>Over all comment</b>:
 </div>
  <div class="col-md-3">
    {{judges.comment[0].eventmeetforjudgingInfo.comments}}
  </div>
  <div class="col-md-2">
    <label><b>Score</b>:</label>
    <label>{{judges.comment[0].eventmeetforjudgingInfo.score}}</label>
  </div>
  <div class="col-md-3" [ngStyle]="{'display':comment.dod==1?'none':''}">
    <label><b>Degree of difficulty</b>:</label>
    <label>{{judges.comment[0].eventmeetforjudgingInfo.dod}}</label>
  </div>
</div>	
     
</mat-card>

</div>
</div>
</div>
</div>  -->


<!-- Modal -->
<div class="modal fade" id="ranking" role="dialog" style="overflow-y: scroll !important;background: linear-gradient(90deg, rgba(46, 49, 146, 0.52), rgba(190, 30, 45, 0.6));">
    <div class="modal-dialog " style="  max-width: 45% ;display:block;margin:0 auto;margin-top:20px !important">


        <!-- Modal content-->
        <div class="modal-content" style="overflow-y: scroll">

            <div class="modal-body" style="padding:0px;overflow: scroll;position: relative; min-height:300px!important">
                <mat-form-field style="margin: 10px;" *ngIf="routineObj.SanctionRoutine">
                    <input matInput placeholder="Search by Name" (keyup)="applyFilterEventLevelRanking($event.target.value)">
                </mat-form-field>
                <button type="button" style="    background: #be1e2d;
			float: right;
			margin: 10px;
			height: 21px;
			width: 43px;
			padding: 0;
			font-size: 12px;
			line-height: 10px;
			 
			color: white;" class="btn btn-default" data-dismiss="modal">
			  Close
			  
			  </button>
                <div class="col-md-12 word-wrap" style="margin-top:10px;">
                    <mat-card>
                        <div>
                            <h4>Ranking</h4>
                            <div *ngIf="Ranking.length">
                                <div class="row" *ngIf="routineObj.SanctionRoutine" style="margin-top:20px;padding:2px;color:#3f51b5">
                                    <div class="col-sm-1">
                                        <span><b>Rank</b></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><b>USAGID</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Username</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Name</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Score</b></span>
                                    </div>

                                </div>
                                <div class="row" *ngIf="!routineObj.SanctionRoutine" style="margin-top:20px;padding:2px;color:#3f51b5">
                                    <div class="col-sm-3">
                                        <span><b>Rank</b></span>
                                    </div>

                                    <div class="col-sm-3">
                                        <span><b>Username</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Name</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Score</b></span>
                                    </div>

                                </div>
                                <div *ngFor="let rank of filterRanking">
                                    <div class="row" *ngIf="rank.users.length > 0" style="margin-top:20px;padding:2px;background: #3f51b5;color:white">
                                        <div class="col-sm-12 text-center">
                                            <span><b>{{rank.levelName}} - {{rank.eventName}}</b></span>
                                        </div>
                                    </div>


                                    <div *ngIf="rank.users.length > 0">
                                        <div *ngFor="let user of rank.users;let i = index" style="margin-top:20px;">
                                            <div class="row" *ngIf="routineObj.SanctionRoutine">
                                                <div class="col-sm-1">
                                                    <span>{{user.rank}}</span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <span>{{user.USAGID}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>{{user.athlete}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>{{user.firstName}} {{user.lastName}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>{{user.score}}</span>
                                                </div>
                                            </div>

                                            <div class="row" *ngIf="!routineObj.SanctionRoutine">
                                                <div class="col-sm-3">
                                                    <span>{{user.rank}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>{{user.athlete}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>{{user.firstName}} {{user.lastName}}</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span>{{user.score}}</span>
                                                </div>
                                            </div>


                                        </div>
                                        <hr>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="levelranking" role="dialog" style="overflow-y: scroll !important;background: linear-gradient(90deg, rgba(46, 49, 146, 0.52), rgba(190, 30, 45, 0.6));">
    <div class="modal-dialog " style="  max-width: 45% ;display:block;margin:0 auto;margin-top:20px !important">


        <!-- Modal content-->
        <div class="modal-content" style="overflow-y: scroll">

            <div class="modal-body" style="padding:0px;overflow: scroll;position: relative; min-height:300px!important">
                <mat-form-field style="margin: 10px;" *ngIf="routineObj.SanctionRoutine">
                    <input matInput placeholder="Search by Name" (keyup)="applyFilterLevelRanking($event.target.value)">
                </mat-form-field>
                <button type="button" style="    background: #be1e2d;
				float: right;
				margin: 10px;
				height: 21px;
				width: 43px;
				padding: 0;
				font-size: 12px;
				line-height: 10px;
				 
				color: white;" class="btn btn-default" data-dismiss="modal">
				  Close
				  
				  </button>
                <div class="col-md-12 word-wrap" style="margin-top:10px;">
                    <mat-card>
                        <div>
                            <h4>Ranking</h4>
                            <div *ngIf="EventMeetLevelRanking.length">
                                <div class="row" *ngIf="routineObj.SanctionRoutine" style="margin-top:20px;padding:2px;color:#3f51b5">
                                    <div class="col-sm-1">
                                        <span><b>Rank</b></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><b>USAGID</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Username</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Name</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Score</b></span>
                                    </div>

                                </div>
                                <div class="row" *ngIf="!routineObj.SanctionRoutine" style="margin-top:20px;padding:2px;color:#3f51b5">
                                    <div class="col-sm-3">
                                        <span><b>Rank</b></span>
                                    </div>

                                    <div class="col-sm-3">
                                        <span><b>Username</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Name</b></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span><b>Score</b></span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;padding:2px;background: #3f51b5;color:white">
                                    <div class="col-sm-12 text-center">
                                        <span><b>{{routineObj.EventMeetName}} - {{routineObj.level}}</b></span>
                                    </div>
                                </div>
                                <div *ngFor="let user of filterLevelRanking;let i = index">




                                    <div class="row" style="margin-top:20px;" *ngIf="routineObj.SanctionRoutine">
                                        <div class="col-sm-1">
                                            <span>{{user.rank}}</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span>{{user.USAGID}}</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span>{{user.athlete}}</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span>{{user.firstName}} {{user.lastName}}</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span>{{user.score}}</span>
                                        </div>


                                    </div>
                                    <div class="row" style="margin-top:20px;" *ngIf="!routineObj.SanctionRoutine">
                                        <div class="col-sm-3">
                                            <span>{{user.rank}}</span>
                                        </div>

                                        <div class="col-sm-3">
                                            <span>{{user.athlete}}</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span>{{user.firstName}} {{user.lastName}}</span>
                                        </div>
                                        <div class="col-sm-3">
                                            <span>{{user.score}}</span>
                                        </div>


                                    </div>


                                </div>
                            </div>
                            <hr/>
                        </div>


                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resubmit" role="dialog" style="overflow-y: hidden !important;background: linear-gradient(90deg, rgba(46, 49, 146, 0.52), rgba(190, 30, 45, 0.6));">
    <div class="modal-dialog " style="  max-width: 50% ;display:block;margin:0 auto;margin-top:20px !important">


        <!-- Modal content-->
        <div class="modal-content" style="overflow-y: hidden">
            <div class="modal-header" style="background:#3f51b5;color: white;">
                <h5 class="modal-title">Resubmit routine</h5>
                <button type="button" class="close" data-dismiss="modal" id="close" (click)="closeResubmitform()" style="color:white">&times;</button>
            </div>
            <div class="modal-body" style="padding:0px;overflow: hidden;position: relative; min-height:170px!important">

                <form role="form" #resumitf="ngForm" novalidate [formGroup]="resubmitform" style="margin:20px !important">


                    <div class="mb-3">
                        <mat-form-field class="material-input-full">
                            <input matInput placeholder="comment" type="text" formControlName="comment">

                        </mat-form-field>
                        <mat-form-field class="material-input-full">
                            <input matInput placeholder="Panel" type="text" formControlName="panel" [(ngModel)]="selectedjudgePanel" readonly>
                        </mat-form-field>
                        <label><b>Select judge</b></label>
                        <select style="width:100%;height:38px" placeholder="Select resubmit to the judge" formControlName="judge" name="judge">
              <option disabled selected="true" value=''>Select</option>
            <option *ngFor='let j of routinemappedJudges;let i = index' [value]="j._id">{{j.firstName}} {{j.lastName}} -{{j.memberInfo.MemberID}}</option>
             
            </select>
                    </div>
                    <div class="mb-3 text-center">
                        <button mat-raised-button color="primary" (click)="resubmit()">
        Resubmit</button>

                    </div>
                </form>


                <br>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comment" role="dialog" style="overflow-y: hidden !important;background: linear-gradient(90deg, rgba(46, 49, 146, 0.52), rgba(190, 30, 45, 0.6));">
    <div class="modal-dialog " style="  max-width: 70% ;display:block;margin:0 auto;margin-top:20px !important">


        <!-- Modal content-->
        <div class="modal-content" style="overflow-y: hidden">

            <div class="modal-body" style="padding:0px;overflow: hidden;position: relative; min-height:300px!important">
                <button type="button" style="    background: #be1e2d;
            float: right;
            margin: 10px;
            height: 21px;
            width: 43px;
            padding: 0;
            font-size: 12px;
            line-height: 10px;
             
            color: white;" class="btn btn-default" data-dismiss="modal">
              Close
              
              </button>
                <div class="col-md-12 word-wrap" style="margin-top:50px;">
                    <mat-card>
                        <div *ngIf="routineObj.scoretype=='3' || routineObj.scoretype=='2'">
                            <h4>Comments</h4>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-sm-1" *ngIf="scoreCard.time">
                                    <span><b>Time</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <span><b>Element</b></span>
                                </div>
                                <div class="col-sm-3">
                                    <span><b>Comment</b></span>
                                </div>
                                <div class="col-sm-1" style="padding: 0px;" *ngIf="scoreCard.skillvalue">
                                    <span><b>Skill Value</b></span>
                                </div>
                                <div class="col-sm-1" *ngIf="scoreCard.execution">
                                    <span><b>Execution</b></span>
                                </div>

                                <div class="col-sm-1" *ngIf="scoreCard.factor">
                                    <span><b>Factor</b></span>
                                </div>
                                <div class="col-sm-1" *ngIf="scoreCard.bonus">
                                    <span><b>Bonus</b></span>
                                </div>
                                <div class="col-sm-1">
                                    <span><b>Total</b></span>
                                </div>
                            </div>

                            <hr>
                            <div *ngIf="judgeRountineComment.length; else showNull">
                                <div class="row" *ngFor="let com of judgeRountineComment" style="margin-top:20px;">
                                    <div class="col-sm-1" *ngIf="scoreCard.time">
                                        <span>{{com.time}}</span>
                                    </div>

                                    <div class="col-sm-3">
                                        <span>{{com.element}}</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span>{{com.comment}}</span>
                                    </div>
                                    <div class="col-sm-1" *ngIf="scoreCard.skillvalue">
                                        <span>{{com.skillvalue}}</span>
                                    </div>
                                    <div class="col-sm-1" *ngIf="scoreCard.execution">
                                        <span>{{com.execution}}</span>
                                    </div>

                                    <div class="col-sm-1" *ngIf="scoreCard.factor">
                                        <span>{{com.factor}}</span>
                                    </div>
                                    <div class="col-sm-1" *ngIf="scoreCard.bonus">
                                        <span>{{com.bonus?com.bonus:0}}</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span>{{com.total}}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #showNull>
                                <div class="text-center" style="padding-bottom: 8px">
                                    <span class="font-italic" style="color: lightgray">No comments added</span>
                                </div>

                            </ng-template>

                            <hr/>
                        </div>
                        <div class="row" style="margin-top:20px;" *ngIf="selectedJudge">
                            <div class="col-md-2">
                                <b>Over all comment</b>:
                            </div>
                            <div class="col-md-3">
                                {{selectedJudge.comments}}
                            </div>


                            <div class="col-md-3" [ngStyle]="{'display':selectedJudge && selectedJudge.dod==1?'none':''}">
                                <label><b>Degree of difficulty</b>:</label>
                                <label>{{selectedJudge.dod}}</label>
                            </div>
                            <div class="col-md-2">
                                <label style="font-size:20px"><b>Score</b>:</label>
                                <label style="color:#2f3191;font-size:20px"><b>{{selectedJudge.score}}</b></label>
                            </div>
                        </div>

                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nd" role="dialog" style="overflow-y: hidden !important;background: linear-gradient(90deg, rgba(46, 49, 146, 0.52), rgba(190, 30, 45, 0.6));">
    <div class="modal-dialog " style="  max-width: 50% ;display:block;margin:0 auto;margin-top:20px !important">


        <!-- Modal content-->
        <div class="modal-content" style="overflow-y: hidden">
            <div class="modal-header" style="background:#3f51b5;color: white;">
                <h5 class="modal-title">Neutral Deduction</h5>
                <button type="button" class="close" data-dismiss="modal" id="close1" style="color:white">&times;</button>
            </div>
            <div class="modal-body" style="padding:0px;overflow: hidden;position: relative; min-height:170px!important">

                <form role="form" novalidate [formGroup]="ndForm" style="margin:20px !important">
                    <div class="mb-3">
                        <mat-form-field class="material-input-full">
                            <input matInput placeholder="Final Score" type="number" formControlName="score" readonly>

                        </mat-form-field>
                    </div>

                    <div class="mb-3">
                        <mat-form-field class="material-input-full">
                            <input matInput placeholder="Neutral Deduction" type="number" formControlName="nd">
                            <mat-error>
                                <control-messages [isSubmitted]="isNDFormSubmitted" [control]="ndForm.controls.nd"></control-messages>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mb-3 text-center">
                        <button mat-raised-button color="primary" (click)="recalculate()">
        Submit</button>

                    </div>
                </form>


                <br>
            </div>
        </div>
    </div>
</div>